[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git 
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "tmux/tmux-colors-solarized"]
	path = tmux/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/tmux-newline-detector"]
	path = tmux/tmux-newline-detector
	url = https://github.com/knakayama/tmux-newline-detector
[submodule "tmux/plugins/tmux-newline-detector"]
	path = tmux/plugins/tmux-newline-detector
	url = https://github.com/knakayama/tmux-newline-detector
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/pack/default/opt/asyncomplete-lsp.vim"]
	path = vim/pack/default/opt/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "vim/pack/default/opt/asyncomplete.vim"]
	path = vim/pack/default/opt/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "vim/pack/default/opt/async.vim"]
	path = vim/pack/default/opt/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "vim/pack/default/opt/vim-lsp"]
	path = vim/pack/default/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/pack/default/opt/vim-highlight-cursor-words"]
	path = vim/pack/default/opt/vim-highlight-cursor-words
	url = https://github.com/pboettch/vim-highlight-cursor-words
[submodule "vim/pack/default/start/vim-markdown"]
	path = vim/pack/default/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/pack/default/start/vim-airline"]
	path = vim/pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/default/start/vim-airline-themes"]
	path = vim/pack/default/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/default/start/vim-tmux"]
	path = vim/pack/default/start/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule "vim/pack/default/start/i3-vim-syntax"]
	path = vim/pack/default/start/i3-vim-syntax
	url = https://github.com/PotatoesMaster/i3-vim-syntax
[submodule "vim/pack/default/start/fzf.vim"]
	path = vim/pack/default/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/pack/default/start/vim-commentary"]
	path = vim/pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/default/start/editorconfig-vim"]
	path = vim/pack/default/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/default/start/Dockerfile.vim"]
	path = vim/pack/default/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "vim/pack/default/start/vim-colors-solarized"]
	path = vim/pack/default/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/pack/default/opt/auto-pairs"]
	path = vim/pack/default/opt/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/pack/default/opt/vim-fugitive"]
	path = vim/pack/default/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/default/opt/vim-python-pep8-indent"]
	path = vim/pack/default/opt/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "vim/pack/default/start/vim-surround"]
	path = vim/pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/default/opt/echodoc.vim"]
	path = vim/pack/default/opt/echodoc.vim
	url = https://github.com/Shougo/echodoc.vim
[submodule "vim/pack/default/start/vim-vinegar"]
	path = vim/pack/default/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/pack/default/opt/nvim-yarp"]
	path = vim/pack/default/opt/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "vim/pack/default/opt/ncm2"]
	path = vim/pack/default/opt/ncm2
	url = https://github.com/ncm2/ncm2
[submodule "vim/pack/default/opt/ncm2-vim-lsp"]
	path = vim/pack/default/opt/ncm2-vim-lsp
	url = https://github.com/ncm2/ncm2-vim-lsp
